.normal {
    --bgCol: hsl(0, 0%, 0%);
    --cardCol: linear-gradient(180deg, hsl(0, 2%, 8%), hsl(0, 0%, 4%));
    --buttonCol: hsl(0, 0%, 5%);
    --buttonHov: hsl(0, 0%, 10%);
    --textColTitle: hsl(0, 0%, 95%);
    --textColAccent: hsl(0, 0%, 80%);
    --borderCol: hsla(0, 0%, 95%, 30%);
    --font-family: -apple-system, BlinkMacSystemFont, "segoe ui";

}
.secondary {
    --bgCol: hsl(250, 100%, 5%);
    --cardCol: linear-gradient(180deg, hsl(250, 100%, 8%), hsl(250, 100%, 4%));
    --buttonCol: hsl(250, 100%, 10%);
    --buttonHov: hsl(250, 100%, 15%);
    --textColTitle: hsl(0, 0%, 95%);
    --textColAccent: hsl(0, 0%, 80%);
    --borderCol: hsla(0, 0%, 95%, 30%);
    --font-family: -apple-system, BlinkMacSystemFont, "segoe ui";
    --text: "Dark Theme";
    --type: "Type: Dark"
}



body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: var(--bgCol);
    transition: background-color 0.3s ease;

}

.frameMain {
    background-image: var(--cardCol);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border-radius: 1em;
    border: solid;
    border-width: 1px;
    border-color: var(--borderCol);
    transition: padding 0.3s ease, background-color 0.3s ease;
    max-width: 20em;

}

.frameMain:hover {
    padding: 1.4em;
}

button, select {
    background-color: var(--buttonCol);
    outline: none;
    border: none;
    margin: 1em;
    padding: 0.5em;
    font-family: var(--font-family);
    font-size: 1.2rem;
    border-radius: 0.8em;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    border: solid;
    border-width: 1px;
    border-color: var(--borderCol);
    color: var(--textColAccent);
    min-width: 0em;
    align-self: stretch;
    max-width: 40em; 
    
}
button:hover {
    border-radius: 0.2em;
    background-color: var(--buttonHov);
}

input {
    text-align: center;
    background-color: white;
    border: none;
    font-size: 1.2rem;
    padding: 0.5em;
    border-radius: 0.8em;
    outline: none;
    border: solid;
    border-width: 1px;
    border-color: var(--borderCol);
    color: var(--textColAccent);
    background-color: var(--buttonCol);
    align-self: stretch;
    margin: 0.2em 1em;
    transition: background-color 0.3s ease;
}

h1, h3{
    font-family: var(--mainFont);
    color: var(--textColTitle);
    font-family: var(--font-family);
    font-weight: normal;
    text-align: center;
}
h2 {
    font-family: var(--mainFont);
    color: var(--textColTitle);
    font-family: var(--font-family);
    font-weight: normal;
    font-size: 3rem;
}

.inputs {
    display: flex;
    flex-direction: row;
}

@media (min-width: 768px) {
    .frameMain {
        background-image: var(--cardCol);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        border-radius: 1em;
        border: solid;
        border-width: 1px;
        border-color: var(--borderCol);
        transition: padding 0.3s ease, background-color 0.3s ease;
        min-width: 40em;
    }
    
    button {
        background-color: var(--buttonCol);
        outline: none;
        border: none;
        margin: 1em;
        padding: 0.5em;
        font-family: var(--font-family);
        font-size: 1.2rem;
        border-radius: 0.8em;
        transition: background-color 0.3s ease, border-radius 0.3s ease;
        border: solid;
        border-width: 1px;
        border-color: var(--borderCol);
        color: var(--textColAccent);
        min-width: 20em;

    }
    
    input {
        text-align: center;
        background-color: white;
        border: none;
        font-size: 1.2rem;
        padding: 0.5em;
        border-radius: 0.8em;
        outline: none;
        border: solid;
        border-width: 1px;
        border-color: var(--borderCol);
        color: var(--textColAccent);
        background-color: var(--buttonCol);
        align-self: stretch;
        margin: 0.2em 1em;
        transition: background-color 0.3s ease;
    }
    .dropdowns {
        display: flex;
        align-items: center
    }
    select {
        text-align: center;
        min-width: 14.2em;
    }
}

